.header {
    padding: 15px;
    text-align: center;
    border: 10px solid;
    background-color: white;
}
.section {
    padding: 50px;
    text-align: center;
    border: 10px solid;
    width: 750px;
    height: 50px;
    background-color: white;
}
.footer {
    padding: 50px;
    text-align: center;
    border: 10px solid;
    height: 50px;
    background-color: white;
}
.aside {
    padding: 50px;
    text-align: center;
    border: 10px solid;
    position: absolute;
    top: 200px;
    right: 0px;
    width: 570px;
    height: 230px;
    background-color: white;
}
.Box{
    background-color: gray;
    position: absolute;
    top: 5px;
    right: 2px;
    width: 1550px;
    height: 800px;
}